<div class="container">

  <%= bootstrap_form_for @information, :url => { :controller => :informations, :action => :create } do |f| %>

    <div class="form-group">
      <%= f.text_field :title, placeholder: 'title' %>
    </div>

    <div class="form-group">
      <%= f.text_area :image, placeholder: 'image_url' %>
    </div>

    <div class="form-group">
      <%= f.text_field :writer, placeholder: 'writer' %>
    </div>

    <div class="form-group">
      <%= f.text_area :text, placeholder: 'text' %>
    </div>

    <div class="form-group">
      <%= f.text_area :review, placeholder: 'review' %>
    </div>

    <div style="margin: 8px 0">
      <%= f.number_field :rate, placeholder: '本の評価', value: 1, max: 5, min: 1 %>
    </div>

    <div class="form-group">
      <%= f.text_field :state, placeholder: 'state' %>
    </div>

    <div class="form-group">
      <%= f.text_field :price, placeholder: 'price' %>
    </div>

    <%= f.hidden_field :status, :value =>"1" %>

    <%= f.submit "出品する", :class => 'btn btn-primary' %>

  <% end %>
</div>
